<%= javascript_include_tag 'main.js' %>
Hello world! 

<br/>

<%= button_tag 'start', class: 'btn btn-primary', id: 'start-record' %>

<br/>

<div id='results'>
  <span id='final_span'></span>
  <span id='interim_span'></span>
</div>
